<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>INSERT TITLE HERE</title>
  </head>
  
  <body>
    <h1>INSERT TITLE HERE</h1>

    <main>
      DESCRIPTION
    </main>

    <div class="directory">
      <div class="heading">General</div>
    </div>

    <footer>This website was made by <a href="https://meirisoda.online" target="_blank">soda</a>.</footer>
  </body>

  <script src="../snippets/include-html.js"></script>

</html>
